{% extends 'partials/_master.twig' %}

{% block title %}{{ record.title }}{% endblock title %}

{% block stylesheets %}
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Event",
          "location": {
            "@type": "Place",
            "name": "{{ record.place }}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ record.place_street_adress }}",
              "postalCode": "{{ record.place_postal_code }}",
              "addressLocality": "{{ record.place_adress_locality }}",
              "addressCountry": "France"
            }
          },
          "image": {
		    "@type": "ImageObject",
		    "url": "{{ absolute_url(record.image|image(1280, 660)) }}",
		    "height": 660,
		    "width": 1280
		  },
          "name": "{{ record.title }}",
          "startDate": "{{ record.start_date }}",
          {% if record.end_date != null %}
          "endDate": "{{ record.end_date }}",
          {% endif %}
          "performer": {
		    "@type": "Organization",
		    "name": "CIS Saint Julien de Concelles",
		    "logo": {
		      "@type": "ImageObject",
		      "url": "{{ absolute_url("/theme/pompyo/images/logo_cis_couleur.png") }}"
		    }
		  },
          "description": "{{ record.teaser|excerpt(200) }}"
        }
    </script>
{% endblock stylesheets %}

{% block body %}
    <div class="container py-4">

        {% if record.image is not empty %}
            <div class="row">
                <div class="col-md-5 mb-3 mb-md-0">
                    <img src="{{ record.image|image(1280, 660) }}" alt="{{ record.values.image.alt|default() }}"
                         style="max-width: 100%"/>
                </div>
                <div class="col-md-7">
                    <h1 class="mb-3">{{ record.title }}</h1>
                    <h5 class="text-bleu{% if record.end_date == null %} mb-3{% endif %}">
                        <i class="far fa-calendar-alt"></i> {{ record.start_date|localedatetime("%A %e %B %Y à %Hh%M") }}
                    </h5>
                    {% if record.end_date != null %}
                        <h5 class="text-bleu mb-3">
                            <i class="fas fa-arrow-right"></i> {{ record.end_date|localedatetime("%A %e %B %Y à %Hh%M") }}
                        </h5>
                    {% endif %}
                    <h5 class="text-bleu mb-0">
                        <i class="far fa-building"></i> {{ record.place }}
                    </h5>
                    <p class="mb-3 text-bleu"><i class="fas fa-map-marked-alt"></i> {{ record.place_street_adress }}<br>
                    <span style="margin-left: 22px;"></span>{{ record.place_postal_code }} {{ record.place_adress_locality }}</p>
                </div>
            </div>
        {% endif %}
        <div class="mt-3 font-italic">
            <p>{{ record.teaser }}</p>
        </div>
        <div class="mt-5 wysiwyg">
            {{ record.body|raw }}
        </div>
    </div>
{% endblock body %}
