{% extends 'partials/_master.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "FireStation",
            "name": "CIS Saint Julien de Concelles",
            "url": "{{ absolute_url(path('homepage')) }}",
            "image": "{{ absolute_url("/theme/pompyo/images/logo_cis_couleur.png") }}",
            "foundingDate": "1948",
            "telephone": "0607147410",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "17 rue de Basse Rivière",
                "addressLocality": "Saint Julien de Concelles",
                "addressRegion": "Pays de la Loire",
                "postalCode": "44450",
                "addressCountry": "France"
            },
            "sameAs": [
                "https://www.facebook.com/Sapeurs-pompiers-de-Saint-Julien-de-Concelles-994529640570249/",
                "https://www.instagram.com/sapeurspompiersconcellois/"
            ]
        }
    </script>
{% endblock stylesheets %}

{% block body %}

    {% setcontent homepage = 'homepage/1' %}

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% set i = 0 %}
                {% for image in homepage.carousel_images %}
                    <li data-target="#carouselExampleIndicators"
                        data-slide-to="{{ i }}"{% if i == 0 %} class="active"{% endif %}></li>
                    {% set i = i + 1 %}
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% set i = 0 %}
                {% for image in homepage.carousel_images %}
                    <!-- Image de slide dans la balise style -->
                    <div class="carousel-item carousel-item-home{% if i == 0 %} active{% endif %}"
                         style="background-image: url('{{ image|thumbnail(1900,1080) }}')">
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <div class="container py-4">

        <div class="row">
            <div class="col-lg-6">
                <h2>A la une</h2>
                <p>
                    {{ homepage.a_la_une_text }}
                </p>
                <a href="{{ homepage.a_la_une_btn_link }}" class="btn-a-la-une btn btn-danger">
                    {{ homepage.a_la_une_btn_text }}
                </a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="{{ homepage.a_la_une_image|thumbnail(700, 450) }}" alt="A la une">
            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-9">
                <h4 class="m-0">
                    {{ homepage.cta_text }}
                </h4>
            </div>
            <div class="col-md-3">
                <a class="btn btn-lg btn-danger btn-block" href="{{ homepage.cta_link }}">{{ homepage.cta_label }}</a>
            </div>
        </div>

        {% setcontent event = 'evenements' where {start_date: '>=now'} orderby 'start_date' limit 1 returnsingle %}

        <h2>
            Prochain événement
            <a href="{{ path('contentlisting', {'contenttypeslug': 'evenements'}) }}" class="btn btn-outline-danger">
                Tous les événements <i class="fas fa-angle-right"></i>
            </a>
        </h2>

        <div class="row mb-4 divImgZoomHover">
            <div class="col-lg-6 rounded">
                <div class="imgContainerZoom" style="border-radius: 5px">
                    <a href="{{ event.link }}">
                        <img class="img-fluid rounded" src="{{ event.image|thumbnail(650,300) }}"
                             alt="Prochain événement">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <a href="{{ event.link }}" class="lienArticle">
                    <h2 class="card-title">{{ event.title }}</h2>
                </a>
                <p class="text-bleu">
                    <i class="far fa-calendar-alt"></i> {{ event.start_date|localedatetime("%A %e %B %Y à %Hh%M") }}
                    <br>
                    <i class="far fa-building"></i> {{ event.place }}
                </p>
                <p class="card-text">
                    {{ event.teaser|excerpt(300) }}
                </p>
            </div>
        </div>

        {% setcontent actualites = 'actualites/latest/3' %}

        <h2>
            Dernières actualités
            <a href="{{ path('contentlisting', {'contenttypeslug': 'actualites'}) }}" class="btn btn-outline-danger">
                Toutes les actualités <i class="fas fa-angle-right"></i>
            </a>
        </h2>

        <div class="row">
            {% for actualite in actualites %}
                <div class="col-lg-4 col-sm-6 mb-3 h-100 divImgZoomHover">
                    <div class="card h-100">
                        <div class="imgContainerZoom">
                            <a href="{{ actualite.link }}">
                                <img class="card-img-top" src="{{ actualite.image|thumbnail(700, 400) }}" alt="Article">
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{{ actualite.link }}" class="lienArticle">
                                <h4 class="card-title text-danger">
                                    {{ actualite.title }}
                                </h4>
                            </a>
                            <p class="small text-bleu">
                                Le {{ actualite.datepublish|localedatetime("%e %B %Y") }},
                                par {{ actualite.user.displayname }}
                            </p>
                            <p class="card-text">
                                {{ actualite.teaser|raw|excerpt(300) }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock body %}
