{% extends 'partials/_master.twig' %}

{% block title %}Le centre{% endblock title %}

{% block body %}
    <div class="container pb-4">

        {% setcontent content = 'le_centre/1' %}
        {% setcontent personnel = 'personnel' %}
        {% setcontent galeries_medias = 'medias' %}
        <h1 class="my-3"><i class="fab fa-gripfire"></i> Le centre</h1>

        <ul class="nav nav-pills" id="tabCentre" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="personnel-tab" data-toggle="tab" href="#personnel" role="tab"
                   aria-controls="personnel" aria-selected="true">
                    Le personnel du CIS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="armement-tab" data-toggle="tab" href="#armement" role="tab"
                   aria-controls="armement" aria-selected="false">
                    L'armement du CIS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="jsp-tab" data-toggle="tab" href="#jsp" role="tab"
                   aria-controls="jsp" aria-selected="false">
                    Les Jeunes Sapeurs-Pompiers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="histoire-tab" data-toggle="tab" href="#histoire" role="tab"
                   aria-controls="histoire" aria-selected="false">
                    L'histoire du CIS
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="media-tab" data-toggle="tab" href="#media" role="tab"
                   aria-controls="media" aria-selected="false">
                    Médias
                </a>
            </li>
        </ul>

        <div class="tab-content" id="tabCentreContent">
            <div class="tab-pane p-3 fade show active" id="personnel" role="tabpanel" aria-labelledby="personnel-tab">

                {% for equipe in app.config.get('taxonomy/equipes/options') %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="my-4 text-danger">{{ equipe }}</h4>
                        </div>
                        {% for personne in personnel %}
                            {% if personne.taxonomy != null and personne.taxonomy.equipes|first == equipe %}
                                <div class="col-lg-2 col-sm-4 text-center mb-3">
                                    <img class="rounded-circle img-fluid d-block mx-auto mb-3"
                                         src="{{ personne.photo_profil|thumbnail(120,120) }}"
                                         alt="{{ personne.prenom }} {{ personne.nom }}">
                                    <h5 class="text-bleu">
                                        {{ personne.prenom }} {{ personne.nom }}
                                    </h5>
                                    <p class="text-center">{{ personne.grade }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}

            </div>
            <div class="tab-pane p-3 fade" id="armement" role="tabpanel" aria-labelledby="armement-tab">
                <div class="row">
                    {% set i = 1 %}
                    {% for vehicule in content.armement %}
                        <div class="col-lg-6 portfolio-item">
                            <div class="card h-100 border-0">
                                <img class="card-img-top" src="{{ vehicule.vehiculeimage|thumbnail(700,400) }}"
                                     alt="Véhicule">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        {{ vehicule.vehiculename }}
                                    </h4>
                                    <p class="card-text">
                                        {{ vehicule.vehiculedescription|raw }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane p-3 fade" id="jsp" role="tabpanel" aria-labelledby="jsp-tab">
                {{ content.jsp_text|raw }}
            </div>
            <div class="tab-pane p-3 fade" id="histoire" role="tabpanel" aria-labelledby="histoire-tab">
                {{ content.history_text|raw }}
            </div>
            <div class="tab-pane p-3 fade" id="media" role="tabpanel" aria-labelledby="media-tab">
                <div class="row">
                    {% for galerie in galeries_medias %}
                        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item divImgZoomHover mb-3">
                            <a href="{{ galerie.link }}">
                                <div class="card h-100 imgContainerZoom">
                                    <div class="imgContainerZoom">
                                        <img class="card-img-top" src="{{ galerie.images|first|thumbnail(700,400) }}"
                                             alt="Galerie">
                                    </div>
                                    <div class="card-body" style="padding: 0.7rem">
                                        <p class="m-0 text-bleu">
                                            {{ galerie.nom }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock body %}