{% extends 'partials/_master.twig' %}

{% block title %}{{ record.title }}{% endblock title %}

{% block stylesheets %}
    <script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "NewsArticle",
		  "mainEntityOfPage": {
		    "@type": "WebPage",
		    "@id": "{{ absolute_url(record.link) }}"
		  },
		  "headline": "{{ record.title }}",
		  "image": {
		    "@type": "ImageObject",
		    "url": "{{ absolute_url(record.image|image(1280, 660)) }}",
		    "height": 660,
		    "width": 1280
		  },
		  "datePublished": "{{ record.datepublish }}",
		  "dateModified": "{{ record.datechanged }}",
		  "author": {
		    "@type": "Person",
		    "name": "{{ record.user.displayname }}",
			"homeLocation": "France"
		  },
		  "publisher": {
		    "@type": "Organization",
		    "name": "CIS Saint Julien de Concelles",
		    "logo": {
		      "@type": "ImageObject",
		      "url": "{{ absolute_url("/theme/pompyo/images/logo_cis_couleur.png") }}"
		    }
		  },
		  "description": "{{ record.teaser|excerpt(200) }}"
		}
	</script>
{% endblock stylesheets %}

{% block body %}
    <div class="container py-4">

        {% if record.image is not empty %}
            <div class="row">
                <div class="col-5">
                    <img src="{{ record.image|image(1280, 660) }}" alt="{{ record.values.image.alt|default() }}"
                         style="max-width: 100%"/>
                </div>
                <div class="col-7">
                    <h1 class="mb-2">{{ record.title }}</h1>
                    <p class="text-bleu mb-3">Le {{ record.datepublish|localedatetime("%e %B %Y") }},
                        par {{ record.user.displayname }}</p>
                    <p>{{ record.teaser|excerpt(300) }}</p>
                </div>
            </div>
        {% endif %}

        <div class="my-5">
            {{ record.body|raw }}
        </div>

        <h3 class="text-danger">Autres actualités récentes</h3>
        {% include "partials/_sub_recent_records.twig" with {'contenttype': 'actualites'} %}
    </div>
{% endblock body %}
