<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}{% endblock %} - Sapeurs-Pompiers de Saint Julien de Concelles</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome-all.css', 'theme') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css', 'theme') }}">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png', 'theme') }}">
    <link rel="sitemap" type="application/xml" title="Plan du site" href="/plan-site.xml"/>
    {% block stylesheets %}{% endblock %}
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126949725-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126949725-1');
</script>

<body class="bg-white">

<div class="container-fluid p-0">
    <div class="container">
        <div class="row">
            <div class="col-2 w-100 d-md-none btn_menu_mobile" onclick="openMenuMobile()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="col-10 col-md-6 p-0">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('images/logo_cis_couleur.png', 'theme') }}" alt="CIS Saint Julien de Concelles"
                         class="logoCentre img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-danger" id="mainMenu">
    <div class="container">
        {#MENU#}
        <div class="d-md-flex text-center text-uppercase p-0">
            <a href="{{ path('contentlisting', {'contenttypeslug': 'actualites'}) }}"
               class="d-block d-md-inline-block lienMenu p-md-3 p-1 pt-2 flex-fill">
                Actualité
            </a>
            <a href="{{ path('contentlisting', {'contenttypeslug': 'evenements'}) }}"
               class="d-block d-md-inline-block lienMenu p-md-3 p-1 pt-2 flex-fill">
                &Eacute;vénements
            </a>
            <a href="{{ path('join_us') }}" class="d-block d-md-inline-block lienMenu p-md-3 p-1 pt-2 flex-fill">
                Nous rejoindre
            </a>
            <a href="{{ path('le_centre') }}" class="d-block d-md-inline-block lienMenu p-md-3 p-1 pt-2 flex-fill">
                Le centre
            </a>
            <a href="{{ path('contact') }}" class="d-block d-md-inline-block lienMenu p-md-3 p-1 pt-2 flex-fill">
                Contact
            </a>
        </div>
    </div>
</div>

<div class="contenu containerPrincipal">
    {% block body %}{% endblock %}
</div>

<div id="imageModale" class="imageModale">
    <span class="closeImageModale" onclick="$(this).parent().hide()">&times;</span>
    <img class="imgImageModale" id="imgImageModale">
</div>

<div class="container-fluid d-none d-md-block border-top border-danger piedDePage bg-dark">
    <div class="container py-3">
        <div class="row text-center">
            <div class="col-4">
                <h5 class="text-uppercase"><span class="border-bottom border-white">Liens rapides</span></h5>
                <a href="{{ path('mentions_legales') }}" class="col text-white d-block">
                    <i class="fas fa-gavel"></i> Mentions légales
                </a>
                <a href="{{ path('sitemap') }}" class="col text-white d-block">
                    <i class="far fa-map"></i> Plan du site
                </a>
                <a href="{{ path('contact') }}" class="col text-white d-block">
                    <i class="far fa-envelope"></i> Contact
                </a>
            </div>
            <div class="col-4">
                <h5 class="text-uppercase"><span class="border-bottom border-white">Réseaux sociaux</span></h5>
                <a href="https://www.facebook.com/Sapeurs-pompiers-de-Saint-Julien-de-Concelles-994529640570249/"
                   target="_blank" class="text-white no-decoration hover-border-bottom">
                    <i class="fab fa-facebook"></i> Facebook
                </a><br>
                <a href="https://www.instagram.com/sapeurspompiersconcellois/"
                   target="_blank" class="text-white no-decoration hover-border-bottom">
                    <i class="fab fa-instagram"></i> Instagram
                </a>
            </div>
            <div class="col-4 text-secondary">
                <span class="position-absolute" style="bottom: 0; right: 0; left: 0;">&copy; {{ "now"|date("Y") }} - CIS Saint Julien de Concelles</span>
            </div>
        </div>
    </div>
</div>

{% if app.request.cookies.get('cookies_accepted') != "true" %}
    <div class="bandeau-cookies">
        <div class="container">
            Ce site internet utilise des cookies pour son bon fonctionnement.
            Par son utilisation vous en acceptez toutes les modalités.
            <span class="btn-accept-cookies">&times;</span>
        </div>
    </div>
{% endif %}

<script src="{{ asset('js/jquery.min.js', 'theme') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js', 'theme') }}"></script>
<script src="{{ asset('js/main.js', 'theme') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
